{% extends 'layouts/layout.html' %} {% block title %} {{ title }} {% endblock %}
{% block content %}

<h1>{{ title }}</h1>

{% if opcion != transporte %}
<form
  class="form-booking"
  action="{% url 'detail_booking' det_booking.origen %}"
  method="post"
>
  {% else %}
  <form
    class="form-booking"
    action="{% url 'detail_booking' det_booking.id %}"
    method="post"
  >
    {% endif %} {% csrf_token %}
    <div class="box-form-booking">
      <div class="box-form-item">
        <label class="sub-title-3" for="">nombres</label>
        <input type="text" name="name" id="" />
      </div>
      <div class="box-form-item">
        <label class="sub-title-3" for="">apellidos</label>
        <input type="text" name="lastname" id="" />
      </div>
    </div>
    <div class="box-form-booking">
      <div class="box-form-item">
        <label class="sub-title-3" for="">telefono</label>
        <input id="phone" type="tel" name="phone" />
      </div>

      <div class="box-form-item">
        <label class="sub-title-3" for="">correo</label>
        <input type="email" name="mail" id="" />
      </div>
    </div>
    <div class="box-form-booking">
      <div class="box-form-item">
        <label class="sub-title-3" for="">Nacionalidad</label>
        <input type="text" name="contry" id="" />
      </div>
      <div class="box-form-item">
        <label class="sub-title-3" for="">ciudad de origen</label>
        <input type="text" name="city" id="" />
      </div>
    </div>

    {% if opcion != transporte %}

    <input type="hidden" name="date" value="{{ det_booking.date }}" readonly />
    <input type="hidden" name="time" value="{{ det_booking.time }}" readonly />
    <input type="hidden" name="id" value="{{det_booking.id }}" readonly />
    <input
      type="hidden"
      name="origen"
      value="{{ det_booking.origen }}"
      readonly
    />
    <input
      type="hidden"
      name="destino"
      value="{{ det_booking.destino }}"
      readonly
    />
    <input type="hidden" name="opcion" value="{{ opcion }}" readonly />

    <div class="box-form-booking">
      <div class="box-form-item">
        <label class="sub-title-3" for=""> Aerolinea </label>
        <input type="text" name="aerolinea" />
      </div>
      <div class="box-form-item">
        <label class="sub-title-3" for="">Numero de vuelo </label>
        <input type="text" name="nvuelo" />
      </div>
    </div>

    <div class="box-form-booking">
      <div class="box-form-item">
        <label class="sub-title-3" for=""> Vehiculo </label>
        <input
          type="text"
          name="tour"
          value="{{ det_booking.name }}"
          readonly
        />
      </div>

      {% if recorrido == 'ida' %}

      <div class="box-form-item">
        <label class="sub-title-3" for=""> valor </label>
        <input type="text" name="cash" value="{{ cash|safe }}" readonly />
        <input type="hidden" name="hotel" value="transporte" />
      </div>

      {% else %}
      <div class="box-form-item">
        <label class="sub-title-3" for=""> valor total: ida y vuelta </label>
        <input type="text" name="cash" value="{{ cash|safe }}" readonly />
        <input type="hidden" name="hotel" value="transporte" />
      </div>

      {% endif %}
    </div>

    {% else %}

    <div class="box-form-booking">
      <div class="box-form-one">
        <label class="sub-title-3" for="">hotel </label>
        <input type="text" name="hotel" id="" />
      </div>
    </div>

    <div class="box-form-booking">
      <div class="box-form-item">
        <label class="sub-title-3" for="">Tour </label>
        <input
          type="text"
          name="tour"
          value="{{ det_booking.name }}"
          readonly
        />
      </div>
      <div class="box-form-item">
        <label class="sub-title-3" for="">valor Por persona</label>
        <input
          type="number"
          name="cash"
          value="{{ det_booking.cash|safe }}"
          readonly
        />
      </div>
    </div>

    {% endif %}

    <div class="box-form-last">
      {% if det_booking.name != "Mercedes Sprinter" %}
      <div class="box-form-mult">
        <label class="sub-title-3" for="">cantidad adultos</label>
        <select name="adults" id="">
          {% for passenger in passengers_list %}
          <option value="{{passenger}}">{{ passenger }}</option>
          {% endfor %}
        </select>
      </div>

      {% endif %} {% comment %}
      <div class="box-form-mult">
        <label class="sub-title-3" for="">cantidad de niños </label>

        <select name="childre" id="">
          {% for passenger in passengers_list %}
          <option value="{{passenger}}">{{ passenger }}</option>
          {% endfor %}
        </select>
      </div>
      {% endcomment %}
      <input type="submit" class="btn" value="Continuar" />
    </div>
  </form>

  {% endblock %}
</form>
