{% extends 'layouts/layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  {% load static %}
  {% load humanize %}
  <div class="cont-det-booking">
    <img src="{% static 'img/logo.png' %}" alt="Coronatours" />
    <h2>{{ title }} # {{ booking.get_id_formateado }}</h2>
    <table>
      <tr>
        <td>
          <span>Nombre:</span>
        </td>
        <td class="det-celda">{{ booking.name }}</td>
      </tr>
      <tr>
        <td>
          <span>Celular:</span>
        </td>
        <td class="det-celda">{{ booking.phone }}</td>
      </tr>
      <tr>
        <td>
          <span>Correo:</span>
        </td>
        <td class="det-celda">{{ booking.mail }}</td>
      </tr>
      <tr>
        <td class="det-division"></td>
        <td class="det-division"></td>
      </tr>
      <tr>
        <td>
          <span>Fecha de recogida:</span>
        </td>
        <td class="det-celda">{{ booking.checkin }}</td>
      </tr>
      <tr>
        <td>
          <span>Hora de recogida:</span>
        </td>
        <td class="det-celda">{{ booking.hora }}</td>
      </tr>
      <tr>
        <td>
          <span>Origen:</span>
        </td>
        <td class="det-celda">{{ booking.origen }}</td>
      </tr>
      <tr>
        <td>
          <span>Destino:</span>
        </td>
        <td class="det-celda">{{ booking.destino }}</td>
      </tr>
      <tr>
        <td>
          <span>Aerolinea:</span>
        </td>
        <td class="det-celda">{{ booking.air }}</td>
      </tr>
      <tr>
        <td>
          <span>Numero de vuelo:</span>
        </td>
        <td class="det-celda">{{ booking.nair }}</td>
      </tr>
      {% if recorrido == "idayvuelta" %}
        <tr>
          <td class="det-division"></td>
          <td class="det-division"></td>
        </tr>
        <tr>
          <td>
            <span>Fecha de recogida:</span>
          </td>
          <td class="det-celda">{{ booking.date_ret }}</td>
        </tr>
        <tr>
          <td>
            <span>Hora de recogida:</span>
          </td>
          <td class="det-celda">{{ booking.hora_ret }}</td>
        </tr>
        <tr>
          <td>
            <span>Origen Regreso:</span>
          </td>
          <td class="det-celda">{{ booking.origen_ret }}</td>
        </tr>
        <tr>
          <td>
            <span>Destino Regreso:</span>
          </td>
          <td class="det-celda">{{ booking.destino_ret }}</td>
        </tr>
        <tr>
          <td>
            <span>Aerolinea Regreso:</span>
          </td>
          <td class="det-celda">{{ booking.air_r }}</td>
        </tr>
        <tr>
          <td>
            <span>Numero de Vuelo Regreso:</span>
          </td>
          <td class="det-celda">{{ booking.nair_r }}</td>
        </tr>
      {% endif %}
      <tr>
        <td class="det-division"></td>
        <td class="det-division"></td>
      </tr>
      {% if opcion == 'transporte' %}
        <tr>
          <td>
            <span>Vehiculo:</span>
          </td>
          <td class="det-celda">{{ booking.tour }}</td>
        </tr>
      {% else %}
        <tr>
          <td>
            <span>Hotel: {{ opcion }}</span>
          </td>
          <td class="det-celda">{{ booking.hotel }}</td>
        </tr>
        <tr>
          <td>
            <span>Tours:</span>
          </td>
          <td class="det-celda">{{ booking.tour }}</td>
        </tr>
      {% endif %}
      <tr>
        <td>
          <span>Cant Adultos:</span>
        </td>
        <td class="det-celda">{{ booking.adults }}</td>
      </tr>
      <tr>
        <td class="det-division"></td>
        <td class="det-division"></td>
      </tr>
      <tr>
        <td>
          <span>valor adultos:</span>
        </td>
        <td class="det-celda">$ {{ booking.cash|intcomma }} COP</td>
      </tr>
      <tr>
        <td>
          <span>valor adicional:</span>
        </td>
        <td class="det-celda"></td>
      </tr>
      <tr>
        <td>
          <span>valor Total:</span>
        </td>
        <td class="det-celda">$ {{ booking.total|intcomma }} COP</td>
      </tr>
    </table>
    <!-- data-public-key="pub_test_g7FnpJvJYnwAsFW6wwPlwo5fTZSIjRKM" -->
    <!--  data-public-key="pub_prod_9Q0j3Er5qtTcXx4X2cPd4b3wTFoyElX0" -->
    <form>
      <script src="https://checkout.wompi.co/widget.js"
              data-render="button"
              data-public-key="pub_prod_9Q0j3Er5qtTcXx4X2cPd4b3wTFoyElX0"
              data-currency="COP"
              data-amount-in-cents="{{ booking.total }}00"
              data-reference="{{ booking.get_id_formateado }}"
              data-redirect-url="https://coronatours.com.co/respuesta/"
              ></script>
    </form>
    {% comment %} 00132
    vuelo 
    in 
    out {% endcomment %}
    {% comment %} <a href="#" class="btn">Corregir Datos</a>
  <script>
    var checkout = new WidgetCheckout({
        currency: 'COP',
        amountInCents: {{ booking.total }}+"00",
        reference: '{{ booking.get_id_formateado }}',
        publicKey: 'pub_test_g7FnpJvJYnwAsFW6wwPlwo5fTZSIjRKM',
        redirectUrl: 'http://localhost:8000', // Opcional
        taxInCents: { // Opcional
          vat: 1900,
          consumption: 800
        }

      })
</script>
  <button class="btn" onclick="checkout.open(function ( result ) { var transaction = result.transaction console.log('Transaction ID: ', transaction.redirectUrl + transaction.id) console.log('Transaction object: ', transaction) transaction.redirectUrl + transaction.id })">
    Pagar
  </button>

  <button class="btn" onclick="checkout.open(function ( result ) { var transaction = result.transaction console.log('Transaction ID: ', transaction.redirectUrl + transaction.id) console.log('Transaction object: ', transaction) transaction.redirectUrl + transaction.id })">
    Pagar
  </button>
    {% endcomment %}
  </div>
  {% comment %} amountInCents: "{{ booking.total }}" + "00", {% endcomment %}
{% endblock %}
