{% extends 'layouts/layout.html' %}


{% block title %} {{ title }} {% endblock %}

{% block content %}



<div class="cont-det-booking">
<h2> {{ title }} # {{ booking.get_id_formateado }} </h2>

<table>
  <tr>
    <td><span> Nombre: </span></td>
    <td class="det-celda">{{ booking.name }}</td>
  </tr>
  <tr>
    <td><span> Apellido: </span></td>
    <td class="det-celda">{{ booking.lastname }}</td>
  </tr>
  <tr>
    <td><span> Celular: </span></td>
    <td class="det-celda"> {{ booking.phone }}</td>
  </tr>
  <tr>
    <td><span> Correo: </span></td>
    <td class="det-celda">{{ booking.mail }}</td>
  </tr>
  <tr>
    <td><span> Pais: </span></td>
    <td class="det-celda">{{ booking.contry }}</td>
  </tr>
  <tr>
    <td><span> Ciudad de origen: </span></td>
    <td class="det-celda">{{ booking.city }}</td>
  </tr>
  {% if opcion == 'transporte' %}
  <tr>
    <td><span> transporte: </span></td>
    <td class="det-celda"> {{ booking.hotel }}</td>
  </tr>
  <tr>
    <td><span> Vehiculo: </span></td>
    <td class="det-celda">{{ booking.tour }}</td>
  </tr> 
    
  {% else %}

  <tr>
    <td><span> Hotel: {{opcion}} </span></td>
    <td class="det-celda"> {{ booking.hotel }}</td>
  </tr>
  <tr>
    <td><span> Tours: </span></td>
    <td class="det-celda">{{ booking.tour }}</td>
  </tr>

  {% endif %}
  <tr>
    <td><span> Cant Adultos: </span></td>
    <td class="det-celda">{{ booking.adults }} </td>
  </tr>
  <tr>
    <td><span> Cant Niños: </span></td>
    <td class="det-celda">{{ booking.childre }}</td>
  </tr>

  <tr >
    <td class="det-division"></td>
    <td class="det-division"></td>
  </tr>
  
  <tr >
    <td ><span> valor adultos: </span></td>
    <td class="det-celda"> $ {{ booking.cash }}  </td>
  </tr>
  <tr>
    <td><span> valor Niños: </span></td>
    <td class="det-celda">{{ booking.childre }}</td>
  </tr>

  <tr>
    <td><span> valor adicional:  </span></td>
    <td class="det-celda"> </td>
  </tr>
  <tr>
    <td><span> valor Total: </span></td>
    <td class="det-celda">$ {{ booking.total }} </td>
  </tr>
  
</table>


 {% comment %} <form>
      <script
        src="https://checkout.wompi.co/widget.js"
        data-render="button"
        data-public-key="pub_prod_9Q0j3Er5qtTcXx4X2cPd4b3wTFoyElX0"
        data-currency="COP"
        data-amount-in-cents="4950000"
        data-reference="4XMPGKWWPKWQ"
        data-signature:integrity="37c8407747e595535433ef8f6a811d853cd943046624a0ec04662b17bbf33bf5"
        >
      </script>
    </form>   {% endcomment %}
    <a href="#" class="btn">Corregir Datos</a>
    <script>
        var checkout = new WidgetCheckout({
            currency: 'COP',
            amountInCents: "300000",
            reference: '{{ booking.get_id_formateado }}',
            publicKey: 'pub_prod_9Q0j3Er5qtTcXx4X2cPd4b3wTFoyElX0',
            redirectUrl: "http://localhost:8000/toures", // Opcional
            taxInCents: { // Opcional
              vat: 1900,
              consumption: 800
            }
          })
        </script>

    <button 
                class="btn"
                onclick="checkout.open(function ( result ) {
                    var transaction = result.transaction
                    console.log('Transaction ID: ', transaction.id)
                    console.log('Transaction object: ', transaction)
                  })"
                > Pagar 
      </button>

</div>

{% comment %} amountInCents: "{{ booking.total }}" + "00", {% endcomment %}
{% endblock %}