{% extends 'layouts/layout.html' %}
{% load humanize %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div class="cont-det-booking">
        <img src="{% static 'img/logo.png' %}" alt="Coronatours" />
        <h3>Reserva # {{ id }}</h3>
        {% if tour.data.status == "APPROVED" %}<p class="aproved">Aprobado</p>{% endif %}
        <table>
            <tr>
                <td>
                    <span>Nombre:</span>
                </td>
                <td class="det-celda">{{ booking.name }}</td>
            </tr>
            <tr>
                <td>
                    <span>Celular:</span>
                </td>
                <td class="det-celda">{{ booking.phone }}</td>
            </tr>
            <tr>
                <td>
                    <span>Correo:</span>
                </td>
                <td class="det-celda">{{ booking.mail }}</td>
            </tr>
            <tr>
                <td class="det-division"></td>
                <td class="det-division"></td>
            </tr>
            <tr>
                <td>
                    <span>Fecha de recogida:</span>
                </td>
                <td class="det-celda">{{ booking.checkin }}</td>
            </tr>
            <tr>
                <td>
                    <span>Hora de recogida:</span>
                </td>
                <td class="det-celda">{{ booking.hora }}</td>
            </tr>
            <tr>
                <td>
                    <span>Origen:</span>
                </td>
                <td class="det-celda">{{ booking.origen }}</td>
            </tr>
            <tr>
                <td>
                    <span>Destino:</span>
                </td>
                <td class="det-celda">{{ booking.destino }}</td>
            </tr>
            <tr>
                <td>
                    <span>Aerolinea:</span>
                </td>
                <td class="det-celda">{{ booking.air }}</td>
            </tr>
            <tr>
                <td>
                    <span>Numero de vuelo:</span>
                </td>
                <td class="det-celda">{{ booking.nair }}</td>
            </tr>
            {% if booking.recorrido == "idayvuelta" %}
                <tr>
                    <td class="det-division"></td>
                    <td class="det-division"></td>
                </tr>
                <tr>
                    <td>
                        <span>Fecha de recogida:</span>
                    </td>
                    <td class="det-celda">{{ booking.date_ret }}</td>
                </tr>
                <tr>
                    <td>
                        <span>Hora de recogida:</span>
                    </td>
                    <td class="det-celda">{{ booking.hora_ret }}</td>
                </tr>
                <tr>
                    <td>
                        <span>Origen Regreso:</span>
                    </td>
                    <td class="det-celda">{{ booking.origen_ret }}</td>
                </tr>
                <tr>
                    <td>
                        <span>Destino Regreso:</span>
                    </td>
                    <td class="det-celda">{{ booking.destino_ret }}</td>
                </tr>
                <tr>
                    <td>
                        <span>Aerolinea Regreso:</span>
                    </td>
                    <td class="det-celda">{{ booking.air_r }}</td>
                </tr>
                <tr>
                    <td>
                        <span>Numero de Vuelo Regreso:</span>
                    </td>
                    <td class="det-celda">{{ booking.nair_r }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class="det-division"></td>
                <td class="det-division"></td>
            </tr>
            {% if booking.opcion == 'transporte' %}
                <tr>
                    <td>
                        <span>Vehiculo:</span>
                    </td>
                    <td class="det-celda">{{ booking.tour }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        <span>Hotel: {{ opcion }}</span>
                    </td>
                    <td class="det-celda">{{ booking.hotel }}</td>
                </tr>
                <tr>
                    <td>
                        <span>Tours:</span>
                    </td>
                    <td class="det-celda">{{ booking.tour }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>
                    <span>Cant Adultos:</span>
                </td>
                <td class="det-celda">{{ booking.adults }}</td>
            </tr>
            <tr>
                <td class="det-division"></td>
                <td class="det-division"></td>
            </tr>
            <tr>
                <td>
                    <span>valor adultos:</span>
                </td>
                <td class="det-celda">$ {{ booking.cash|intcomma }} COP</td>
            </tr>
            <tr>
                <td>
                    <span>valor adicional:</span>
                </td>
                <td class="det-celda"></td>
            </tr>
            <tr>
                <td>
                    <span>valor Total:</span>
                </td>
                <td class="det-celda">$ {{ booking.total|intcomma }} COP</td>
            </tr>
        </table>
        <span class="congratulations">¡Gracias por su compra!</span>
    </div>
{% endblock content %}
