{% extends 'layouts/layout.html' %} 
{% load humanize %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<datalist id="bookmark_list_start">
  <option>{{start_of_route}}</option>
</datalist>
<datalist id="bookmark_list_end">
  <option>{{end_of_route}}</option>
</datalist>

<div class="c-map">
  <!-- Este es el menu para los vehiculos -->
  <div class="menu_flotante">
    <h2 class="sub-title-2">Seleccione su vehiculo</h2>

   

  {% for vehiculo in vehiculosvip  %}
    {% if recorrido == "ida" %}
    <form method="POST" action="{% url 'check' %}">
   {% else %}

   <form method="POST" action="{% url 'retorno' %}">
       <input type="hidden" name="store" value="{{store}}" />
   {% endif %}
  
   {% csrf_token %}
      <div class="box-art">
        <div class="car-n">
          <label class="c-title" for="name">{{vehiculo.name}}</label>
          <input
            type="hidden"
            class="c-title"
            id="name"
            name="name"
            value="{{vehiculo.name}}"
          />         
            
        {% if vehiculo.tipo == 'vehiculo_lujo'  %}
        
          <label class="c-val" for="value">
              $ {{v_trayecto.vehiculo_lujo|intcomma }} COP 
          </label>
          <input
            type="hidden"
            class="c-val"
            id="value"
            name="value"
            value="{{ v_trayecto.vehiculo_lujo }}"
          />

        {% elif vehiculo.tipo == 'camioneta' %}
          <label class="c-val" for="value">
            $ {{v_trayecto.camioneta|intcomma }} COP 
          </label>
          <input
            type="hidden"
            class="c-val"
            id="value"
            name="value"
            value="{{ v_trayecto.camioneta }}"
          />

        {% elif vehiculo.tipo == 'lujo' %}
          <label class="c-val" for="value">
            $ {{v_trayecto.lujo|intcomma }} COP 
          </label>
          
          <input
            type="hidden"
            class="c-val"
            id="value"
            name="value"
            value="{{ v_trayecto.lujo }}"
          />

        {% elif vehiculo.tipo == 'mini_van_lujo' %}
          <label class="c-val" for="value">
            $ {{v_trayecto.mini_van_lujo|intcomma }} COP 
          </label>
          <input
            type="hidden"
            class="c-val"
            id="value"
            name="value"
            value="{{ v_trayecto.mini_van_lujo }}"
          />

        {% elif vehiculo.tipo == 'van_lujo' %}
          <label class="c-val" for="value">
            $ {{v_trayecto.van_lujo|intcomma }} COP 

          </label>
          <input
            type="hidden"
            class="c-val"
            id="value"
            name="value"
            value="{{ v_trayecto.van_lujo }}"
          />

        {% endif %}         

        </div>
        <div class="car-d">
          <p>
            <i class="fa-sharp fa-solid fa-suitcase-rolling"></i>
            {{vehiculo.amount_luggage}}
          </p>
          <p>
            <i class="fa-sharp fa-solid fa-person"></i>
            {{vehiculo.Number_passengers}}
          </p>
        </div>
        <div class="car-i">
          <img src="{{vehiculo.image.url}}" alt="{{ vehiculo.name }}" />
        </div>
        <input
          type="submit"
          onclick="hizoClick()"
          class="btn"
          value="Reservar"
        />
      </div>
     

      {% if time_return %}
      <input type="hidden" name="time_return" value="{{time_return}}" />
      {% endif %}

      <input type="hidden" value="{{recorrido}}" name="recorrido" />
      <input type="hidden" name="date" value="{{date}}" />
      <input type="hidden" name="time" value="{{time}}" />
      <input type="hidden" name="id" value="{{vehiculo.id }}" />
      <input type="hidden" name="origen" value="{{start_of_route}}" />
      <input type="hidden" name="destino" value="{{end_of_route}}" />
    </form>
      {% endfor %}
    
  </div>

  <div id="maps_reserve">
    <!-- Con este div se esta invocando el mapa, si este div no se muestra un mapa -->

    <div id="map"></div>

    {% if recorrido == "ida" %}
    
    <div class="separador"></div>
    <div class="det-resesrva">
      <h3 class="sub-title-3">Detalles de viaje</h3>
      <div class="detail-v">
        <div class="box-det">
          <h3 class="sub-title-3">Fecha de recogida</h3>
          {{ date }}
        </div>
        <div class="box-det">
          <h3 class="sub-title-3">Hora de recogida</h3>
          {{ time }}
        </div>
        <div class="box-det-des">
          <h3 class="sub-title-3">ruta</h3>
          <span id="start" onchange="calcRoute();" value="{{start_of_route}}"
            >{{start_of_route}}</span
          >
          <hr />
          <span id="end" onchange="calcRoute();" value="{{end_of_route}}"
            >{{end_of_route}}</span
          >
        </div>
        <div class="box-det-des">
          <h3 class="sub-title-3">Distancia</h3>
          <span id="distancia-d"></span>
        </div>
        <div class="box-det-des">
          <h3 class="sub-title-3">Duracion</h3>
          <span id="duracion-d"></span>
        </div>
      </div>
    </div>
    
    {% else %}
    <div class="separador"></div>
    <div class="det-resesrva">
      <h3 class="sub-title-3">Detalles de viaje</h3>
      <div class="detail-v">
        <div class="box-det">
          <h3 class="sub-title-3">Fecha de recogida</h3>
          {{ date }}
        </div>
        <div class="box-det">
          <h3 class="sub-title-3">Hora de recogida</h3>
          {{ time }}
        </div>
        <div class="box-det-des">
          <h3 class="sub-title-3">ruta</h3>
          <span id="start" onchange="calcRoute();" value="{{start_of_route}}"
            >{{start_of_route}}</span
          >
          <hr />
          <span id="end" onchange="calcRoute();" value="{{end_of_route}}"
            >{{end_of_route}}</span
          >
        </div>
        <div class="box-det-des">
          <h3 class="sub-title-3">Distancia</h3>
          <span id="distancia-d"></span>
        </div>
        <div class="box-det-des">
          <h3 class="sub-title-3">Duracion</h3>
          <span id="duracion-d"></span>
        </div>
      </div>
    </div>
    
      <div class="det-resesrva">
        <h3 class="sub-title-3">Detalles de viaje 2</h3>
        <div class="detail-v">
          <div class="box-det">
            <h3 class="sub-title-3">Fecha de recogida</h3>
            {{ det_retorno.date }}
          </div>
          <div class="box-det">
            <h3 class="sub-title-3">Hora de recogida</h3>
            {{ det_retorno.time }}
          </div>
          <div class="box-det-des">
            <h3 class="sub-title-3">ruta</h3>
            <span id="start" onchange="calcRoute();" value="{{start_of_route}}"
              >{{det_retorno.start_of_route}}</span
            >
            <hr />
            <span id="end" onchange="calcRoute();" value="{{end_of_route}}"
              >{{end_of_route}}</span
            >
          </div>
          <div class="box-det-des">
            <h3 class="sub-title-3">Distancia</h3>
            <span id="distancia-d"></span>
          </div>
          <div class="box-det-des">
            <h3 class="sub-title-3">Duracion</h3>
            <span id="duracion-d"></span>
          </div>
        </div>
      </div>
    </div>
  
  {% endif %} 

</div>
  {% endblock %}
</div>
