{% extends 'layouts/layout.html' %}

{% block title %} {{title}} {% endblock  %}

{% block content %}
   
    <div class="c-map">
        <!-- Este es el menu para los vehiculos -->
        <div class="menu_flotante">

            <div class="det-resesrva">
                <h3 class="sub-title-3"> Detalles de viaje </h3>
                <div class="detail-v">
                    
                    <div class="box-det">
                        <h3 class="sub-title-3"> Fecha de recogida </h3>
                        {{ date }} 
                    </div>
                    <div class="box-det">
                        <h3 class="sub-title-3"> Hora de recogida </h3>
                        {{ time }} 
                    </div>
                    <div class="box-det-des">
                        <h3 class="sub-title-3">ruta </h3>
                        <span id="start" onchange="calcRoute();"  name="start_of_route" value="{{start_of_route}}">{{start_of_route}}</span>
                        <hr>
                        <span id="end" onchange="calcRoute();"  name="end_of_route" value="{{end_of_route}}">{{end_of_route}}</span>
                    </div>
                    <div class="box-det-des">
                        <h3 class="sub-title-3">Distancia </h3>
                        <span id="distanceId"></span>
                       
                    </div>
                    <div class="box-det-des">
                        <h3 class="sub-title-3">Duracion </h3>
                        <span id="durationId" ></span> {{duration}}
                    </div>
                </div>
            </div>

            <form method="POST" action="{% url 'transporte' %}" >
                {% csrf_token %}
                <input type="hidden" value="{{start_of_route}}" name="start_of_route" />  
                <input type="hidden" value="{{end_of_route}}" name="end_of_route" />  
                <input type="hidden" value="{{date}}" name="date" />  
                <input type="hidden" value="{{time}}" name="time" />  
                <input type="hidden" id="distanceId" value="" name="distance" /> 
                <input type="hidden" name="duration" id="durationId" value="" />  
                <input type="hidden" name="store" id="v-store" value="" />  

                <a href="" class="btn" > Modificar </a>
                <input type="submit" class="btn" value="Escoge transporte" />
            </form>
          
        </div>
        
        <div id="maps_reserve" >
            <!-- Con este div se esta invocando el mapa, si este div no se muestra un mapa -->    
            
            <div id="map"></div>           

        </div>

        

    </div>


{% endblock  %}