{%extends "layouts/layout.html"%} {% load static %} {% block title %} {{ title}}
{% endblock %} {%block content %}

<h1>{{title}}</h1>

<h2>Labor Social año 2017</h2>
<div class="galeria">
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2017/1 LABOR SOCIAL FUNDEVIDA 4 DIC 2017 - copia.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2017/2 LABOR SOCIAL 4 DIC  2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2017/3 LABOR SOCIAL FUNDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2017/4 LABOR SOCIAL FUNDEVIDA DIC2017.JPG' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2017/5 LABOR SOCIAL FUNDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2017/6 LABOR SOCIAL FUNDEVIDA DIC2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2017/7 LABOR SOCIAL FINDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2017/8 LABOR SOCIAL FUNDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
</div>

{% endblock %}
