{%extends "layouts/layout.html"%} {% load static %} {% block title %} {{ title}}
{% endblock %} {%block content %}

<h1 class="title-labsoc">{{title}}</h1>

<h2 class="sub-labsoc">año 2023</h2>
<div class="galeria">
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2023/2 PLAYA MORENA  17-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2023/3 PALENQUE 16-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2023/3 PLAYA MORENA  17-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2023/4 PALENQUE 16-12-2023.jpg' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2023/5 PALENQUE 16-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2023/6 PALENQUE 16-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2023/PALENQUE 16-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img src="{% static 'img/LABORSOCIAL/2023/PALENQUE  2023.jpg' %}" alt="" />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img src="{% static 'img/LABORSOCIAL/2023/PALENQUE 2023.jpg' %}" alt="" />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2023/PLAYA MORENA  17-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2023/9 PLAYA MORENA  17-12-2023.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2023/8 PLAYA MORENA  17-12-2023.jpg' %}"
      alt=""
    />
  </div>
</div>

{% comment %} ------------------------------------------------- {% endcomment %}

<h2 class="sub-labsoc">año 2022</h2>
<div class="galeria">
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_112738.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_112754.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_112959.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_113008.jpg' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_113015.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_114045.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_114102.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_114149.jpg' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2022/1 LABOR SOCIAL 29 DIC 2022 PLAYA MORENA.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_112711.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_112718.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2022/IMG_20221229_112731.jpg' %}"
      alt=""
    />
  </div>
</div>

{% comment %} ------------------------------------------------- {% endcomment %}

<h2 class="sub-labsoc">año 2021</h2>
<div class="galeria">
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2021/2 LABOR SOCIAL 4  PLAYA MORENA  18 DIC AÑO 2021.jpeg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2021/3 LABOR SOCIAL PLAYA MORENA 18 DIC 2021.jpeg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2021/LABOR SOCIAL 4 PLAYA MORENA  18 DIC  AÑO 2021.jpg' %}"
      alt=""
    />
  </div>
</div>

{% comment %} ------------------------------------------------- {% endcomment %}

<h2 class="sub-labsoc">año 2019</h2>
<div class="galeria">
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR  SOCIAL  3  CASA CREATIVO 16 DIC 2019.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO -2.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO  AÑO 2019 -12.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -4.jpg' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -6.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -7.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -8.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -9.jpg' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -10.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -11.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO -2.jpg' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2019/LABOR SOCIAL 3 CASA CREATIVO AÑO 2019 -13.JPG' %}"
      alt=""
    />
  </div>
</div>

{% comment %} ------------------------------------------------- {% endcomment %}

<h2 class="sub-labsoc">año 2018</h2>
<div class="galeria">
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 1 LABOR SOCIAL   CASA CREATIVO 28 NOV AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 2 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 3 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 4 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 5 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 6 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 7 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 8 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 9 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 10 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 11 LABOR SOCIAL CASA CREATIVO AÑO 2018.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2018/FOTO 12 LABOR SOCIAL CASA CREATIVO AÑO  2018.JPG' %}"
      alt=""
    />
  </div>
</div>

{% comment %} ------------------------------------------------- {% endcomment %}

<h2 class="sub-labsoc">año 2017</h2>
<div class="galeria">
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2017/1 LABOR SOCIAL FUNDEVIDA 4 DIC 2017 - copia.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2017/2 LABOR SOCIAL 4 DIC  2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2017/3 LABOR SOCIAL FUNDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2017/4 LABOR SOCIAL FUNDEVIDA DIC2017.JPG' %}"
      alt=""
    />
  </div>
</div>

<div class="galeria">
  <div class="marc3">
    <img
      src="{% static 'img/LABORSOCIAL/2017/5 LABOR SOCIAL FUNDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc2">
    <img
      src="{% static 'img/LABORSOCIAL/2017/6 LABOR SOCIAL FUNDEVIDA DIC2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc1">
    <img
      src="{% static 'img/LABORSOCIAL/2017/7 LABOR SOCIAL FINDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
  <div class="marc">
    <img
      src="{% static 'img/LABORSOCIAL/2017/8 LABOR SOCIAL FUNDEVIDA DIC 2017.JPG' %}"
      alt=""
    />
  </div>
</div>

{% endblock %}
