{% extends 'layouts/layout.html' %}
{% load static %}

{% block title %} {{title}} {% endblock  %}

{% block content %}

{% comment %} <div class="box-title">
    <h1 class="title"> {{ title }} </h1>
</div> {% endcomment %}

<div class="hd-title">
    <div class="bg-transp">
    </div>       
        <img src="{% static 'img/encanto9-1-1024x683.jpg' %}" alt="Toures Cartagena" />
        <h2> Toures </h2>
</div>


<div class="art-tours">
    {% for tour in toures %}
        <article class="arti">
            <a href=" {% url 'tour' tour.id  %} ">
                <img src="{{ tour.image1.url }} " />
                <span> {{ tour.name }}</span>
                <p> {{ tour.description }} </p>
            </a>        
        </article>    
    {% endfor %}
    
</div>


{% endblock  %}