.btn {
  display: flex;
  align-items: center;
  background: linear-gradient(orange, #cb7a00);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 4px;
  padding: 0px 16px;
  height: 40px;
}

.btn:hover {
  border: none;
  background: linear-gradient(#cb7a00, orange);
  cursor: pointer;
}

.btn-white {
  display: flex;
  align-items: center;
  background: linear-gradient(#fff, #ccc);
  color: #000;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  height: 40px;
  padding: 0px 16px;
  transition: all 200ms;
}

.btn-white:hover {
  background: linear-gradient(#ccc, #fff);
  cursor: pointer;
}

.box-btns {
  display: flex;
  justify-content: space-around;
  /* margin-top: 35px; */
  width: 40%;
}
