@media screen and (max-width: 440px) {
  .arti img {
    height: 500px;
  }

  .arti span {
    font-size: 30px;
  }

  .arti p {
    font-size: 18px;
  }

  .arti .art-cash {
    font-size: 40px;
  }

  .serv-icon .box-icon i {
    font-size: 40px;
  }
}
