/* Estilos generales */

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}


.box p,
.box h2,
.box h3,
.box ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

.box ul,
.box ol {
    margin-left: 20px;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
    float: none;
}

body {
    background-color: #fff;
    font-family: "Montserrat";
}

/* Estilos Cabecera */
.header-t {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #cb7a00;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #e19328; */
    /* border:1px solid #1B1E1F; */
    box-shadow: 0px 2px 0px 0px rgba(0, 11, 38, 0.12);
}


/* header{
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: 0px auto;
} */

#logotipo {
    width: 30%;
    /* height: 50px; */
}

#logotipo img {
    display: block;
    width: 100px;
    /* float: left; */
    /* margin-top: 20px; */
}

/* Estilos barra de navegacion */

nav {
    width: 50%;
    height: 40px;
    /* background-color: #1B1E1F;*/
    /* border: 1px solid yellow;  */
    /* box-shadow: 0px 22px 22px gray; */
    font-size: 16px;
    font-family: "Montserrat";
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

nav>ul>li {
    line-height: 40px;
}

nav>ul>li>a {
    /* display: block; */
    padding-left: 20px;
    padding-right: 20px;
    color: #1B1E1F;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 200ms;
}

nav>ul>li>a:hover {
    /* background-color: #2ba977;
    box-shadow: 0px 0px 8px #333333 inset; */
    border-bottom: 3px solid #cb7a00;
    /* color: white; */
    
}

nav>ul>li>ul {
    display: none;
    position: absolute;
    color: white;
    text-align: left;
    width: 160px;
    box-shadow: 0px 2px 2px gray;

}

nav>ul>li:hover>ul {
    display: block;
    color: white;
    margin: 0px;
    list-style: none;
}

nav>ul>li:hover>ul>li {
    background: #1B1E1F;
    border-bottom: 1px solid #d6d6d6;
    padding: 8px;
    line-height: 25px;
    font-size: 13px;
    transition: all 300ms;
}

nav>ul>li:hover>ul>li a {
    color: #666;
    transition: all 300ms;
}

nav>ul>li:hover>ul>li:hover {
    background-color: #21684b;
}

nav>ul>li:hover>ul>li:hover a {
    display: block;
    color: white;
}

.barra {
    width: 1250px;
    background-color: blue;
    margin: 0 auto;
}

.esquina-izquierda {
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float: left;
}

.esquina-derecha {
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2B2F30;
    float: right;
}

.relleno-barra {
    display: block;
    width: 1210px;
    height: 10px;
    background: #23282b;
    float: left;
}

/* Estilos Contenido central */

#content {
    width: 90%;
    min-height: 350px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* margin-top: 15px; */
}


#box {
    background: white;
    width: 100%;
    /* padding: 20px; */
    /* border: 1px solid #ddd; */
    border-radius: 13px;
    margin: 0 auto;
    /* display: flow-root; */
}


/* Estilo del Pie de pagina  */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #1B1E1F;
    color: #d1d4d6;
}


footer a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}


/* Estilos para el mapa */


.art-tours {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

.arti {
    flex-basis: 31%;
    flex-grow: 1;
    margin: 10px;
    margin-top: 35px;
    /* width: 32%; */
    /* border: 1px solid red; */
}

.arti img {
    width: 100%;
    height: 280px;
    border-radius: 12px;
    margin-bottom: 5px;
    object-fit: cover;
}

.arti span {
    color: #222;
    font-weight: 800;
    font-size: 10px;
}

.arti p {
    display: block;
    width: 90%;
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
    color: #111;
}

.gallery {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 25px;
}

.one {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.two {
    grid-column: 3 / 5;
    grid-row: 1;
}

.tree {
    grid-column: 3 / 3;
    grid-row: 2;
}

.four {
    grid-column: 4 / 4;
    grid-row: 2;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serv-icon {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}

.serv-icon .box-icon {
    width: 75px;
    /* border: 1px solid red; */
    text-align: center;
}

.serv-icon .box-icon i {
    font-size: 22px;
}

.serv-icon .box-icon p {
    font-size: 12px;
    color: #1B1E1F;
    margin-top: 5px;
    line-height: 11px;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px #d6d6d6;
}


.email i {
    font-size: 75px;
    color: #cb7a00;
}

.email .descrip-email {
    width: 40%;
    margin-left: 35px;
}

.email .descrip-email h3 {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    /* text-transform: capitalize; */
}

.email .descrip-email h3 {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    /* text-transform: capitalize; */
}

.email .descrip-email input[type="text"] {
    padding: 10px;
    padding-left: 15px;
    width: 250px;
    border-radius: 6px;
}

.email .descrip-email input[type="submit"] {
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 6px;
    background-color: #cb7a00;
    color: #111;
    border: 1px solid #d6d6d6;
    margin-left: 10px;

}

.email .descrip-email input[type="submit"]:hover {
    cursor: pointer;
}

.email .descrip-email p {
    font-size: 12px;
    margin-top: 15px;
    width: 350px;
}

.time-tour {
    display: block;
    margin-top: 8px;
    margin-bottom: 10px;
}

.box-title{
    display: block;
    width: 30%;
    margin: 0px auto;
}

.title {
    font-family: "Roboto Medium";
    font-size: 38px;
    color: #333333;
    text-align: center;
    padding-bottom: 7px;
    border-bottom: 3px solid #cb7a00;
}

.title-p {
    font-family: "Roboto Medium";
    font-size: 38px;
    /* color: #e19328; */
}

hr {
    margin-top: 25px;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
}

.parrafo {
    font-size: 18px;
    color: #111;
}

.sub-title-2 {
    display: block;
    font-size: 26px;
    color: #333333;
    margin-bottom: 18px;
}

.sub-title-3 {
    display: block;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;

}

.box-know {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.box-one,
.box-two {
    width: 45%;
}

.box-one ul,
.box-two ul{
    /* display: block; */
    margin-top: 24px;
}

.box-know ul li {
    margin-bottom: 10px;
    list-style: none;
}

.box-know ul li i {
    margin-right: 8px;
}

.higiene ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.higiene ul li {
    /* display: block; */
    width: 45%;
    margin-bottom: 4px;
    margin-top: 4px;
    list-style: none;
}

.higiene ul li i {
    margin-right: 8px;
}

/* DATOS HEADER */

.info-h {
    width: 70%;
    margin-left: 70px;
    /* border: 1px solid red; */
}

.info-h span {
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
}

/* REDES */

.header-t .redes {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
}

.header-t .redes img {
    width: 22px;
    margin-right: 8px;
    color: #fff;
}

.cont-about{
    display: flex;
    justify-content: space-between;
}

.box-about{
    width: 45%;
}

.hd-title{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 120px;
    background-color: #1B1E1F;
    color: #fff;
    margin-bottom: 35px;
    /* background-image: url("../img/Traslados-desde-los-aeropuertos.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 4px #666;
}

.hd-title img{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.bg-transp{
    position: absolute;
    z-index: 1;
    background-color: #11111193;
    height: 120px;
    width: 100%;
}

.hd-title h2 {
    font-family: "Roboto Black";
    font-size: 26px;
    z-index: 5;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 45px;
}

.about-inf,
.about-for{
    width: 50%;
}

.about-for form{
    display: flex;
    flex-direction: column;
}

.about-for textarea,
.about-for input{
    width: 80%;
    padding: 13px;
    margin-bottom: 12px;
    border: 1px solid #d6d6d6;    
}

.about-for input[type="submit"]{
    width: 35%;
    padding: 12px;
}

.about-inf li{
    list-style: none;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.about-inf i{
    margin-right: 10px;
    color: #cb7a00;
    font-size: 21px;
}

.btn{
    /* background-color: #cb7a00; */
    background: linear-gradient(orange, #cb7a00 );
    color: #fff;
    font-size: 18px;
    /* border: 1px solid orange; */
    border: none;
    border-radius: 12px;
    padding: 14px 28px;
    box-shadow: 0px 0px 5px #aaa;
}

.btn:hover{
    /* background-color: #fff; */
    /* border: 2px solid #cb7a00; */
    border: none;
    scale: 1.1;
    /* color: #ccc; */
    cursor: pointer;
}

.h-booking{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-booking{
    display: block;
    width: 100%;
    /* border: 1px solid red; */
    margin-top: 35px;
    margin-bottom: 25px;
}

.box-booking button{
    display: block;
    margin: 0px auto;
    justify-content: center;
}




/* SECCION BOOKINGS */

.form-booking{
    display: flex;
    flex-direction: column;
    
}

.box-form{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

.box-form-one,
.box-form-mult,
.box-form-item{
    display: flex;
    flex-direction: column;
    width: 45%;
    /* border: 1px solid blue; */
}

.box-form-one{
    width: 100%;
}

.box-form-one .sub-title-3,
.box-form-mult .sub-title-3,
.box-form-item .sub-title-3 {
    text-transform: capitalize;
    font-weight: bold;
    color: #000;
}

.box-form input{
    padding: 14px 15px;
    box-shadow: 0px 0px 5px #ccc;
    border: 1px solid #999;
}



.box-form-last{
    display: flex;
    align-items: flex-end;
}

.box-form-last select{
    width: 100%;
    padding: 14px 15px;
    box-shadow: 0px 0px 5px #ccc;
    border: 1px solid #999;
    
}

.box-form-last .box-form-mult{
    width: 15%;
    margin-right: 50px;
}

.box-form-last input[type="submit"]{
    width: 250px;
    height: 40%;
}

.cont-det-booking{
    display: block;
    width: 40%;
    margin: 0px auto;
    margin-top: 25px;
    box-shadow: 0px 0px 5px #333;
    padding-left: 24px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.cont-det-booking h2{
    color: #333;
    font-weight: bold;
}

.cont-det-booking table{
    margin-top: 20px;
    margin-bottom: 35px;
    border: none;
    /* border: 1px solid red; */
}

.cont-det-booking  .det-division{
    border: 1px solid #333;
    padding-top: 1px;
    background-color: #333;
}

.cont-det-booking .det-celda{
    padding-left: 15px;
    /* border: 1px solid red; */
}

.cont-det-booking span{
    color: #000;
    font-weight: bold;
}