* {
  margin: 0px;
  padding: 0px;
}

body {
  /* background-color: #cb7a00; */
  background-color: #eee;
}

.nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
}

.nav img {
  height: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0px auto;
  /* margin-top: 5px; */
  /* border: 1px solid red; */
}

article {
  flex-basis: 38%;
  flex-grow: 1;
  margin: 10px;
  height: 220px;
  background-color: #fff;
  display: flex;
  align-items: center;
  /* padding-right: 15px; */
  box-shadow: 0px 0px 7px #444;
  border-radius: 5px;
}

article:hover {
  box-shadow: 0px 0px 10px #cb7a00;
}

article img {
  width: 250px;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
}

article .info {
  margin-left: 25px;
  width: 40%;
  /* border: 1px solid red; */
}

article .info .btn {
  text-decoration: none;
}

article h1 {
  font-size: 35px;
  font-family: "LeagueSpartan Bold";
  /* text-transform: lowercase; */
  margin-bottom: 3px;
}

article .info p {
  font-family: "Montserrat";
  margin-bottom: 10px;
}

.men-standar {
  background-image: url("../../img/2.png");
  background-size: cover;
}

.men-activiti {
  background-image: url("../../img/6.png");
  background-size: cover;
}

.men-vip {
  background-image: url("../../img/4.png");
  background-position: center center;
  background-size: cover;
}

.men-labor {
  background-image: url("../../img/8.png");
  background-size: cover;
}

.men-vip .info,
.men-labor .info {
  margin-left: 665px !important;
  text-align: right;
}

.btn {
  border: 0px;
  padding: 8px 15px;
  background: linear-gradient(orange, #cb7a00);
  color: #fff;
  font-family: "LeagueSpartan Bold";
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  background: linear-gradient(#cb7a00, orange);
}

.footer {
  text-align: center;
  color: #333;
  margin-top: 15px;
  font-family: "Montserrat";
  font-size: 14px;
}

@media screen and (max-width: 640px) {
  article h1 {
    font-size: 35px;
  }

  .nav {
    height: 120px;
  }

  article .info {
    margin-right: 30px;
  }
}

@media screen and (max-width: 620px) {
  article h1 {
    font-size: 30px;
  }

  article .info {
    margin-right: 30px;
  }

  article .info p {
    font-size: 14px;
  }

  .men-vip .info,
  .men-labor .info {
    margin-left: 250px !important;
    text-align: right;
  }
}

@media screen and (max-width: 582px) {
  article h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 490px) {
  .men-vip .info,
  .men-labor .info {
    margin-left: 220px !important;
    text-align: right;
  }

  .nav {
    height: 100px;
  }
}

@media screen and (max-width: 490px) {
  .men-vip .info,
  .men-labor .info {
    margin-left: 210px !important;
    text-align: right;
  }

  article h1 {
    font-size: 20px;
  }

  article .info p {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .men-vip .info,
  .men-labor .info {
    margin-left: 200px !important;
    text-align: right;
  }
  article {
    height: 190px;
	padding: 20px 0px;
  }
}

@media screen and (max-width: 375px) {
  .men-vip .info,
  .men-labor .info {
    margin-left: 180px !important;
    text-align: right;
  }

  article .info p {
    font-size: 10px;
  }

  .footer {
    margin-bottom: 30px;
  }
}
